@font-face {
  font-family: "Josefin Slab Bold";
  src: url('../fonts/josefinslab-bold-webfont.eot?1376433878');
  src: url('../fonts/josefinslab-bold-webfont.eot?&1376433878#iefix') format('embedded-opentype'), url('../fonts/josefinslab-bold-webfont.svg?1376433878') format('svg'), url('../fonts/josefinslab-bold-webfont.ttf?1376433878') format('truetype'), url('../fonts/josefinslab-bold-webfont.woff?1376433878') format('woff');
}
@font-face {
  font-family: "Josefin Slab Light";
  src: url('../fonts/josefinslab-light-webfont.eot?1376433878');
  src: url('../fonts/josefinslab-light-webfont.eot?&1376433878#iefix') format('embedded-opentype'), url('../fonts/josefinslab-light-webfont.svg?1376433878') format('svg'), url('../fonts/josefinslab-light-webfont.ttf?1376433878') format('truetype'), url('../fonts/josefinslab-light-webfont.woff?1376433878') format('woff');
}

/* general styles */

body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #3c3c3c;
}

a:hover, a:focus {
  color: #416c54;
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 5px #ccc;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4rem;
}

small {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

/*------------------------------------------------*/


/*	Navigation
/*------------------------------------------------*/

.main-nav-collapse {
  text-align: center;
}
.navbar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-default {
  background-color: #579170;
  border: none;
}
.navbar-default .navbar-nav {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 auto;
  float: none;
}
.navbar-default .navbar-nav li a {
  font-size: 0.9em;
  color: #fff;
}
.navbar-default .navbar-nav li a:hover {
  color: #fff;
  background-color: #416c54;
}
.navbar-default .navbar-nav li a:focus {
  color: #fff;
}
.navbar-default .navbar-nav li.active a {
  color: #fff;
  background-color: #416c54;
}
.navbar-default .navbar-nav li.active a:hover, .navbar-default .navbar-nav li.active a:focus {
  color: #fff;
  background-color: #416c54;
}
@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav {
    display: block;
  }
}
.navbar-default .navbar-toggle {
  border: none;
  padding: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle i {
  font-size: 28px;
  color: #fff;
}

/*------------------------------------------------*/


/*	Footer
/*------------------------------------------------*/

.footer {
  background-color: #91575b;
  text-align: center;
  font-size: 1.0em;
  padding: 15px 0;
  margin-top: 0;
  color: #fff;
}
